*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  background-color: #424874;
}
h1 {
  text-align: center;
  margin-top: 20px;
  color: aliceblue;
}
form {
  width: 80%;
  margin: auto;
  margin-top: 100px;
  margin-bottom: 100px;
  top: 100px;
  border-radius: 5px;
  border: 2px solid #207398;
  color: #000;
  box-shadow: 1px 3px 15px rgba(0, 0, 0, 1)  ; 
}

.items {
  font-weight: 500;
  position: relative;
  width: 80%;
  left: 10%;
  border-radius: 8px;
}

.form-group {
  margin-bottom: 0;
}

.completedTodo {
  background-color: darkgray;
  text-decoration: line-through;
}

.check-out {
  cursor: pointer;
}
